body {
    font: 60px "Century Gothic", Futura, sans-serif;
    margin-left: 33%;
    margin-top: 5%;
}

ol, ul {
    padding-left: 30px;
}

.name {
    font-size: 80px;
    font-family: Chalkboard, serif;
    margin: 0;
    text-align: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.border {
    border: 3px solid #0A9E34;
}

.status {
    margin-bottom: 10px;
    text-align: center;
}

.square {
    background: #fff;
    border: 3px solid #0A9E34;
    float: left;
    font-size: 150px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
